div {
    border: 1px solid gray;
    padding: 4px;
    margin: 2px;
    width: 200px;
    height: 20px;
}

#fixed {
    position: fixed;
    right: 0px;
}

#relative {
    position: relative;
    left: 100px;
    top: 20px;
}

#abs {
    position: absolute;
    left: 150px;
    top: 50px;
}

#static {
    position: static;
    left: 200px;
}