.smallbox {
    border: 1px solid gray;
    padding: 4px;
    margin: 2px;
    width: 200px;
    height: 20px;
}

.links {
    border: 1px solid gray;
    padding: 4px;
    margin: 2px;
    width: 200px;
    height: 45px;
    background: rgb(250, 155, 20);
    font-family:'Franklin Gothic Medium'
    
}

.myclass {
    border: 1px solid gray;
    padding: 4px;
    margin: 2px;
    width: 200px;
    height: 200px;
}

#mypos {
    position: relative;
    left: 520px;
}

#alpacka {
    position: relative;
    left: 350px;
    top: 50px;
}

#fixed {
    position: fixed;
    right: 0px;
}

#relative {
    position: relative;
    left: 700px;
    top: 20px;
}

#abs {
    position: absolute;
    left: 150px;
    top: 50px;
}

#static {
    position: static;
    left: 200px;
}